*{
  box-sizing: border-box; //線の太さを含めて計算するレイアウト崩れ防止用
  padding: 0;
  margin: 0;
}

:root { //色の変数定義
  --primary-color:#3b82f6;
  --text-color:#333333;
  --bg-color:#ffffff;
  --gray-light:#f3f4f6;
}

body{ //全体の設定
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Helvetica Neue",Arial,"Hiragino  Gothic ProN",sans-serif;
}

a{ //リンクの下線を消す
  text-decoration: none;//下線を消す
  color:inherit;//親要素の色を継承する
}